/*primer selector es por nombre de etiqueta*/
        /*selector id #*/
        /*selector clase.*/
 div{
    background-color:royalblue;
    }
    #Titulo{
        color: white ;
    }
    h2{
        color: red;   
           
    }
    .caja{
        background-color: blue;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin-top: 20px;
    }
    .caja:first-child{
        background-color: salmon;
    }
    .caja:last-child{
        background-color:skyblue;
    }
    .caja:nth-child(4){
        background-color: tomato;
    }       